In [16]:
import pandas as pd
import calendar


xlsx_file_path = "Daten_Aufgabe_1 - Shopauswertung.csv"

data = pd.read_csv(xlsx_file_path, delimiter=';')

data.head(10)

        Datum Produkt      Umsatz
0  01.01.2021       A   17.132115
1  02.01.2021       A   57.353725
2  03.01.2021       A  114.746857
3  04.01.2021       A  113.251181
4  05.01.2021       A    4.186462
5  06.01.2021       A   50.584429
6  07.01.2021       A   54.148321
7  08.01.2021       A   16.991990
8  09.01.2021       A    7.543601
9  10.01.2021       A    7.514910

In [17]:

data["Datum"] = pd.to_datetime(data["Datum"], format='%d.%m.%Y')

data["Monat"] = data["Datum"].dt.month

aggregated_data = pd.DataFrame(columns=["Monat", "Produkt", "Umsatz"])

# Liste der Produkte
produkte = ["A", "B", "A+B+C"]

for monat in data["Monat"].unique():
    for produkt in produkte:
        umsatz = data[(data["Monat"] == monat) & (data["Produkt"] == produkt)]["Umsatz"].sum()
        aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)

aggregated_data

C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_16140\427718793.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  aggregated_data = aggregated_data.append({'Monat': monat, 'Produkt': produkt, 'Umsatz': umsatz}, ignore_index=True)

   Monat Produkt        Umsatz
0      1       A  1.514915e+03
1      1       B  3.037049e+04
2      1   A+B+C  8.424678e+05
3      2       A  1.495043e+03
4      2       B  6.968709e+04
5      2   A+B+C  1.175157e+06
6      3       A  1.789003e+03
7      3       B  1.203685e+05
8      3   A+B+C  1.755245e+06
9      4       A  1.392164e+03
10     4       B  1.588690e+05
11     4   A+B+C  2.187074e+06
12     5       A  1.719606e+03
13     5       B  2.087055e+05
14     5   A+B+C  2.717825e+06
15     6       A  1.588092e+03
16     6       B  2.440010e+05
17     6   A+B+C  3.090373e+06
18     7       A  1.813789e+03
19     7       B  3.012125e+05
20     7   A+B+C  3.602816e+06
21     8       A  1.587996e+03
22     8       B  3.543405e+05
23     8   A+B+C  4.097987e+06
24     9       A  1.495482e+03
25     9       B  3.954340e+05
26     9   A+B+C  4.391986e+06
27    10       A  1.836128e+03
28    10       B  4.551205e+05
29    10   A+B+C  5.048326e+06
30    11       A  1.528727e+03
31    11       B  4.848200e+05
32    11   A+B+C  5.331418e+06
33    12       A  1.603259e+03
34    12       B  5.476725e+05
35    12   A+B+C  5.971972e+06

In [19]:


produkte = ["A", "B", "C", "A+B+C"]


aggregated_data = {"Monat": [], "Produkt_A": [], "Produkt_B": [], "Produkt_C": [], "A+B+C": []}


for monat in data["Monat"].unique():
    monatliche_daten = data[data["Monat"] == monat]
    umsatz_a = round(monatliche_daten[monatliche_daten["Produkt"] == "A"]["Umsatz"].sum(), 2)
    umsatz_b = round(monatliche_daten[monatliche_daten["Produkt"] == 'B']["Umsatz"].sum(), 2)
    umsatz_c = round(monatliche_daten[monatliche_daten["Produkt"] == "A+B+C"]["Umsatz"].sum() - (umsatz_a + umsatz_b), 2)
    umsatz_abc = round(monatliche_daten[monatliche_daten["Produkt"] == "A+B+C"]["Umsatz"].sum(), 2)

    aggregated_data["Monat"].append(calendar.month_name[monat])
    aggregated_data["Produkt_A"].append(umsatz_a)
    aggregated_data["Produkt_B"].append(umsatz_b)
    aggregated_data["Produkt_C"].append(umsatz_c)
    aggregated_data["A+B+C"].append(umsatz_abc)

df_eu = pd.DataFrame(aggregated_data)

df_eu.style.format(thousands=",")

In [20]:
index_to_output = 81
row_at_index = data.iloc[index_to_output]

print(row_at_index)

Datum      2021-03-23 00:00:00
Produkt                      A
Umsatz                0.389914
Monat                        3
Name: 81, dtype: object