In [1]:
""" Import module für alle Fälle"""
import numpy as np
import pandas as pd

import pickle

In [2]:
""" Excel original Blätter one vorbereitung als variable speichern"""
df_1 = pd.read_excel("Daten_Aufgabe_1 - Shop Analyse.xlsx", sheet_name="P1")
df_2 = pd.read_excel("Daten_Aufgabe_1 - Shop Analyse.xlsx", sheet_name="P2")
df_3 = pd.read_excel("Daten_Aufgabe_1 - Shop Analyse.xlsx", sheet_name="P3")

""" Spalten umbenenen"""
df_1.rename(columns={"Datum":"Monat", "Umsatz":"Produkt_A_DE"}, inplace=True)
df_2.rename(columns={"Datum":"Monat", "Umsatz":"Produkt_B_DE"}, inplace=True)
df_3.rename(columns={"Datum":"Monat", "Umsatz":"Produkt_C_DE"}, inplace=True)

"""DataFrames zusammenführen"""
shop_de_1 = pd.merge(df_1, df_2, on="Monat")
shop_de_2 = pd.merge(shop_de_1, df_3, on="Monat")

""" Werte Umsatz runden, Spalte Gesamt zufügen mit Gesamtumsatz alle produkte"""
shop_de_2["Produkt_A_DE"] = round(shop_de_2["Produkt_A_DE"],2)
shop_de_2["Produkt_B_DE"] = round(shop_de_2["Produkt_B_DE"],2)
shop_de_2["Produkt_C_DE"] = round(shop_de_2["Produkt_C_DE"],2)
shop_de_2["Gesamt_DE"] = shop_de_2["Produkt_A_DE"] + shop_de_2["Produkt_B_DE"] + shop_de_2["Produkt_C_DE"]

shop_de_2["Monat"].replace({"Jan":"January", "Feb":"February", "Mrz":"March", "Apr":"April",
                            "Mai":"May", "Jun":"June", "Jul":"July", "Aug":"August", "Sep":"September",
                            "Okt":"October", "Nov":"November", "Dez":"December"}, inplace=True)

shop_de_2.head(2)

      Monat  Produkt_A_DE  Produkt_B_DE  Produkt_C_DE  Gesamt_DE
0   January      15562.55      14774.46     148945.17  179282.18
1  February      14055.57      15176.47     128859.95  158091.99

In [3]:
shop_de_2.to_pickle("shop_de.pkl")
shop_DE = pd.read_pickle("shop_de.pkl")
shop_DE

        Monat  Produkt_A_DE  Produkt_B_DE  Produkt_C_DE  Gesamt_DE
0     January      15562.55      14774.46     148945.17  179282.18
1    February      14055.57      15176.47     128859.95  158091.99
2       March      15633.91      18280.33     141602.71  175516.95
3       April      15792.85      19095.32     133780.49  168668.66
4         May      16947.49      20206.11     135993.78  173147.38
5        June      17082.75      20056.65     135206.77  172346.17
6        July      17965.03      22288.14     143531.78  183784.95
7      August      17720.17      21707.81     139714.63  179142.61
8   September      16870.28      21084.84     130178.03  168133.15
9     October      17579.24      21564.91     128966.72  168110.87
10   November      17567.79      20566.41     122411.82  160546.02
11   December      18653.34      22364.24     126539.08  167556.66