In [25]:
""" Import module für alle Fälle"""
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

from ipywidgets import interact
from ipywidgets import IntSlider, FloatSlider, Dropdown, FloatText

In [26]:
""" csv in Data Frame umwandeln - nicht weiterverfolgen wird von anderem Team Mitglied erledigt"""
shop_eu = pd.read_csv("Daten_Aufgabe_1 - Shopauswertung.csv")
shop_eu= pd.DataFrame(shop_eu)

In [27]:
""" excel in Data Frame umwandeln - vorher excel vorbereitet als shop_de.xlsx."""
a = pd.read_excel("shop_de.xlsx")
shop_de = pd.DataFrame(a)
shop_de.head(1)

  Datum     Umsatz P1     Umsatz P2     Umsatz P3
0   Jan  15562.548244  14774.456985  148945.16665

In [64]:
shop_de["Umsatz P1"] = round(shop_de["Umsatz P1"],2)
shop_de["Umsatz P2"] = round(shop_de["Umsatz P2"],2)
shop_de["Umsatz P3"] = round(shop_de["Umsatz P3"],2)
shop_de["Gesamt"] = shop_de["Umsatz P1"] + shop_de["Umsatz P2"] + shop_de["Umsatz P3"]
shop_de.head(3)

  Datum  Umsatz P1  Umsatz P2  Umsatz P3     Gesamt
0   Jan   15562.55   14774.46  148945.17  179282.18
1   Feb   14055.57   15176.47  128859.95  158091.99
2   Mrz   15633.91   18280.33  141602.71  175516.95

In [66]:
""" Excel original Blätter one vorbereitung als variaable speichern"""
df_1 = pd.read_excel("Daten_Aufgabe_1 - Shop Analyse.xlsx", sheet_name="P1")
df_2 = pd.read_excel("Daten_Aufgabe_1 - Shop Analyse.xlsx", sheet_name="P2")
df_3 = pd.read_excel("Daten_Aufgabe_1 - Shop Analyse.xlsx", sheet_name="P3")

""" Spalten umbenenen"""
df_1.rename(columns={"Datum":"Monat", "Umsatz":"Umsatz_P1"}, inplace=True)
df_2.rename(columns={"Datum":"Monat", "Umsatz":"Umsatz_P2"}, inplace=True)
df_3.rename(columns={"Datum":"Monat", "Umsatz":"Umsatz_P3"}, inplace=True)

"""DataFrames zusammenführen"""
#shop_de_1= pd.concat([df_1, df_2, df_3])
shop_de_1 = pd.merge(df_1, df_2, on="Monat")
shop_de_2 = pd.merge(shop_de_1, df_3, on="Monat")

""" Index zurücksetzen so das "Monat" wird index"""
shop_de_2.set_index("Monat", inplace=True)

""" Werte Umsatz runden, Spalte Gesamt zufügen mit Gesamtumsatz alle produkte"""

shop_de_2["Umsatz_P1"] = round(shop_de_2["Umsatz_P1"],2)
shop_de_2["Umsatz_P2"] = round(shop_de_2["Umsatz_P2"],2)
shop_de_2["Umsatz_P3"] = round(shop_de_2["Umsatz_P3"],2)
shop_de_2["Gesamt"] = shop_de_2["Umsatz_P1"] + shop_de_2["Umsatz_P2"] + shop_de_2["Umsatz_P3"]

shop_de_2 = pd.DataFrame(shop_de_2)

shop_de_2

       Umsatz_P1  Umsatz_P2  Umsatz_P3     Gesamt
Monat
Jan     15562.55   14774.46  148945.17  179282.18
Feb     14055.57   15176.47  128859.95  158091.99
Mrz     15633.91   18280.33  141602.71  175516.95
Apr     15792.85   19095.32  133780.49  168668.66
Mai     16947.49   20206.11  135993.78  173147.38
Jun     17082.75   20056.65  135206.77  172346.17
Jul     17965.03   22288.14  143531.78  183784.95
Aug     17720.17   21707.81  139714.63  179142.61
Sep     16870.28   21084.84  130178.03  168133.15
Okt     17579.24   21564.91  128966.72  168110.87
Nov     17567.79   20566.41  122411.82  160546.02
Dez     18653.34   22364.24  126539.08  167556.66