In [37]:
import pandas as pd
import numpy as np

import datetime
import pickle

import matplotlib.pyplot as plt
import seaborn as sns

from ipywidgets import interact
from ipywidgets import IntSlider, FloatSlider, Dropdown, FloatText

In [38]:
df = pd.read_pickle("el_puente.pkl")
df.head(2)

,Monat,Produkt_A_DE,Produkt_B_DE,Produkt_C_DE,Gesamt_DE,Produkt_A_EU,Produkt_B_EU,Produkt_C_EU,Gesamt_EU
0,January,15562.55,14774.46,148945.17,179282.18,1514.91,30370.49,810582.38,842467.78
1,February,14055.57,15176.47,128859.95,158091.99,1495.04,69687.09,1103974.89,1175157.02

In [39]:
df =df.drop(["Gesamt_DE", "Gesamt_EU"], axis=1)

In [40]:
df["Monat"].replace({"January":"Jan", "February":"Feb", "March":"Mar", "April":"Apr",
                            "May":"Mai", "June":"Jun", "July":"Jul", "August":"Aug", "September":"Sep",
                            "October":"Okt", "November":"Nov", "December":"Dez"}, inplace=True)

In [41]:
shop_ohne_gesamt = pd.melt(df, id_vars='Monat', var_name='Produkt', value_name='Umsatz')
shop_ohne_gesamt

   Monat       Produkt      Umsatz
0    Jan  Produkt_A_DE    15562.55
1    Feb  Produkt_A_DE    14055.57
2    Mar  Produkt_A_DE    15633.91
3    Apr  Produkt_A_DE    15792.85
4    Mai  Produkt_A_DE    16947.49
..   ...           ...         ...
67   Aug  Produkt_C_EU  3742058.75
68   Sep  Produkt_C_EU  3995056.61
69   Okt  Produkt_C_EU  4591369.88
70   Nov  Produkt_C_EU  4845068.92
71   Dez  Produkt_C_EU  5422696.34

[72 rows x 3 columns]

In [42]:
def plot_umsatz(produkt):
    produkt_daten = shop_ohne_gesamt[shop_ohne_gesamt['Produkt'] == produkt]
    sns.barplot(x='Monat', y='Umsatz', data=produkt_daten)
    plt.title(f"Monatliche Umsatz für Produkt {produkt}")
    plt.show()

In [43]:
produkte = shop_ohne_gesamt['Produkt'].unique()
interact(plot_umsatz, produkt=produkte)

interactive(children=(Dropdown(description='produkt', options=('Produkt_A_DE', 'Produkt_B_DE', 'Produkt_C_DE',…