In [1]:
""" Import module f√ºr excel Bereinigung"""

import numpy as np
import pandas as pd

In [2]:
""" excel in Data Frame umwandeln - vorher excel vorbereitet als bereinigung_shop_de.xlsx."""
a = pd.read_excel("bereinigung_shop_de.xlsx")
shop_de = pd.DataFrame(a)
shop_de.head(1)

  Datum     Umsatz P1     Umsatz P2     Umsatz P3
0   Jan  15562.548244  14774.456985  148945.16665

In [3]:
shop_de["Umsatz P1"] = round(shop_de["Umsatz P1"],2)
shop_de["Umsatz P2"] = round(shop_de["Umsatz P2"],2)
shop_de["Umsatz P3"] = round(shop_de["Umsatz P3"],2)
shop_de["Gesamt"] = shop_de["Umsatz P1"] + shop_de["Umsatz P2"] + shop_de["Umsatz P3"]
shop_de.head(12)

   Datum  Umsatz P1  Umsatz P2  Umsatz P3     Gesamt
0    Jan   15562.55   14774.46  148945.17  179282.18
1    Feb   14055.57   15176.47  128859.95  158091.99
2    Mrz   15633.91   18280.33  141602.71  175516.95
3    Apr   15792.85   19095.32  133780.49  168668.66
4    Mai   16947.49   20206.11  135993.78  173147.38
5    Jun   17082.75   20056.65  135206.77  172346.17
6    Jul   17965.03   22288.14  143531.78  183784.95
7    Aug   17720.17   21707.81  139714.63  179142.61
8    Sep   16870.28   21084.84  130178.03  168133.15
9    Okt   17579.24   21564.91  128966.72  168110.87
10   Nov   17567.79   20566.41  122411.82  160546.02
11   Dez   18653.34   22364.24  126539.08  167556.66